modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/artifacts/api-server && PORT=8080 python3 main.py"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[userenv]

[userenv.shared]
ADMIN_USERNAME = "admin"
ENCRYPTION_KEY = "HQHF35_8Wqu96ZX0ScFWuM3Tp36KRVCVV2ozjs_kKc8="
SECRET_KEY = "ec0cb72df590a5f043b71ef95ce5923358fdfa2e9c2af4a57ad6ecb03c4bd6ff"
